{% extends 'base_index.html' %}
{% load static %}


{% block content %}
<!-- nav box on the left -->
{% include 'csearch/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 2. Search Parameters</div>
<div id=main>


    <form enctype="multipart/form-data" method='POST'>
        {% csrf_token %}

        <table>
        {{ form.as_p }}
        </table>

        <!-- notations -->
        <div>
            <p>***********************************</p>
            <table>
                <tr><td><b>a) Random sampling with MM optimization</b></td><td>This method will first generate the configurations by randomly
                    assigning the dihedral angles in the molecules, then optimize with a generalized force field,
                    such as UFF, GAFF, or MMFF.
                </td></tr>
                <tr><td><b>b) Random sampling with QM optimization</b></td><td>Similar to the Random sampling with MM optimization method.
                    Instead of optimizing the molecules with a force field, this method will optimize them with semi-empirical quantum chemistry methods.
                    This method provides a better evaluation of molecules with heavy metals,
                    but it is time-consuming. We suggest using random sampling with MM optimization first.</td></tr>
                <tr><td><b>c) MD simulation with replica exchange sampling</b></td><td>This module allows the user to perform a conformational search
                    of small compounds in explicit water, implicit water and gas phase with replica exchange algorithm implemented
                    in NAMD2. Antechamber is used to parameterize molecules.
                </td></tr>

            </table>
        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-default" style="height:25px;width:90px">Next</button>

    </form>


    <br>
    <br>


</div></div>
{% endblock %}