{% extends 'base_index.html' %}
{% load static %}


{% block content %}
<!-- nav box on the left -->
{% include 'csearch/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 2. Searching Parameters</div>
<div id=main>This step provides three alternative algorithms to perform conformational searches.
    Each algorithm requires different parameters. You will be asked to provide them accordingly.
    <br>
    <br>
    <b>1) Random search.</b> Generate N conformations by randomly rotating the single bonds and then energy minimize. <br><br>
    <b>2) Replica exchange.</b> Perform an MD simulation with the replica exchange technique to search the conformations
    in gas phase or with implicit or explicit solvent models. <br><br>
    <b>3) Random DFT.</b> Similar to method 1) but will minimize with DFT methods. Suitable for compounds with metal atoms <br><br>

    <br>
    <b>Please start from <a href="/csearch/smiles">"Step 1. Upload a compound"</a></b>
    <br>

</div>

    <br>
    <br>


</div></div>
{% endblock %}