{% extends 'base_index.html' %}
{% load static %}


{% block content %}
<!-- nav box on the left -->
{% include 'csearch/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 3. Review & Submit</div>
<div id=main>
    This step provides an interface to review the 3D structure of the molecule you input/uploaded and
    the conformational search parameters you provided from the previous step.
    After that, you can submit your calculation to AQUA-MER. <br>
    <br>
    <br>
    <h3>Start from <a href="/csearch/smiles">"Step 1. Input a compound"</a></h3>
    <br>

</div>

    <br>
    <br>


</div></div>
{% endblock %}