{% extends 'base_index.html' %}
{% load static %}


{% block content %}
<!-- nav box on the left -->
{% include 'csearch/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 3. Review & Submit</div>
<div id=main>This step provides a review on the algorithm and parameters input before submit to run the job.

    <br>
    <br>
    <b>Please start from <a href="/csearch/upload">"Step 1. Upload a compound"</a></b>
    <br>

</div>

    <br>
    <br>


</div></div>
{% endblock %}