.idea/workspace.xml
.DS_Store
static/flowchart_draw.io/
static_bak/
media/
insert_for_*.py
daemon.py
cyshg/settings.py
scripts/phreeqcdb/
scripts/Phreeqc-scb-lg.dat
*.pyc
*/migrations/*
*.log
log
db.*
db_*
calcdata/data/
tmp/

