{% extends 'base_index.html' %}
{% load static %}

{% block content %}
<!-- nav box on the left -->
{% include 'hgspeci/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">Instructions on how to use the Speciation module</div>
<div id=main>
    <p>The <b>Speciation</b> module provides an intuitive online tool for researchers to calculate speciation in specified solutions.
        Although we have compiled extensive parameters for <b>Hg-related complexes</b>, this module can also be applied to the speciation
        of other elements, such as Fe, Cd, Co, etc. The Speciation module also permits researchers to use their <b>own input parameters</b>.
        Furthermore, the <b>online toolkit</b> provided by AQUA-MER also allows users to calculate missing input parameters using
        <b>quantum chemical methods, such as DFT</b>.<br><br>

        To use the <b>Speciation</b> module, the following three steps are required:<br>
        <br>
        1. Input the parameters<br>
        2. Review the input and submit the job<br>
        3. View and download the results<br>
        <br>
        If you are familiar with AQUA-MER, you can start by clicking <a href="/hgspeci/parameters/"><b>"Input parameters"</b></a> from the left menu.
        Otherwise, please read these instructions first.
    </p>

    <p><h3>Step 1. Input parameters</h3>
        In this step, the user will generate a virtual solution characterized by the Environmental Conditions and
        the Individual Elements/Species. Parameters in the Environmental Conditions section, such as Temperature, pH range,
        Concentration Units, etc. will be applied to the whole solution. Parameters in the Individual Elements/Species section will only
        affect the corresponding elements/species and will override the parameters in the first section.
        <br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>a). Environmental Conditions</b>
        <br>
        <p><div class="video"><img src="{% static 'img/hgspeci-environ-para.png' %}" border=1 width="90%" max-height="500px"></div></p>

        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>b). Individual Element/species</b> parameters (will provide related parameters in the database, and the option to add parameters by the users.)
        <br>
        <p><div class="video"><img src="{% static 'img/hgspeci-individual-para.png' %}" border=1 width="90%" max-height="500px"></div></p>
        <p><div class="video"><img src="{% static 'img/hgspeci-auto-para.png' %}" border=1 width="90%" max-height="500px"></div></p>

    <!--
    <br><b>Tips:</b>
        While inputting the elements, it will searching the database automatically. If the related parameters are available,
        it will display them in the bellow. Otherwise, the user can provide their own parameters. <p>
    <p><div class="video-box">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/ajQs4g7g388?&autoplay=1&loop=1&playlist=ajQs4g7g388" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </p>
    -->
    <br>
    <p><h3>Step 2. Review & submit</h3>
        Before submission, you can review your input parameters. You can then either go back and revise your input or proceed to
        submit the job to the server. The job ID will be shown at the top of your input. With this job ID, you can close
        your web page and come back to check your results later by clicking <a href="/hgspeci/results/"><b>"Results"</b></a>
        on the left menu.
    <p>

    <p><h3>Step 3. View and download the results</h3>
        Once the job is finished, you can either view and analyze your results online or download and plot them yourself.<p>
    <p><div class="video">
        <!--<video id="video" controls autoplay src="{% static 'video/hgspeci-result.webm' %}"></video>-->
        <iframe width="90%" height="500" src="https://www.youtube.com/embed/94bqn48IkiU?&autoplay=1&loop=1&playlist=94bqn48IkiU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </p>

    <br>
    <br>


</div></div>
{% endblock %}