{% extends 'base_index.html' %}
{% load static %}

{% block content %}
<!-- nav box on the left -->
{% include 'hgspeci/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">Instruction on how to use the Speciation module</div>
<div id=main>
    <p>The <b>Speciation</b> module provides an intuitive online tool for researchers to study the speciation of given solutions.
        Although it integrate extensive parameters for <b>Hg related complexes</b>, it can also be applied to study the speciation
        of other elements, such as Fe, Cd, Co etc. It allows the researchers to study the solutions <b>with their own parameters</b> as well.
        Together with the <b>online toolkit</b> provided by AQUA-MER, the users can easily calculate the necessary parameters with
        <b>quantum mechanics methods, such as DFT</b>.<br><br>

        To use the <b>Speciation</b> module, the following three steps are required:
        1, input the parameters; 2, review the input and submit the job; 3, view and download the results.<br>
        If you are familiar with AQUA-MER, you can start by clicking the <a href="/hgspeci/parameters/"><b>"Input parameters"</b></a> from the left menu.
        Otherwise, please read this instruction first.
    </p>

    <p><h3>Step 1. Input parameters</h3>
        In this step, the user will build up a virtual solution which contains two parts, the Environmental Conditions and
        the Individual Element/species. Parameters in the Environmental Conditions section, such as Temperature, pH range,
        Concentration Unit etc. will be applied to the whole solution. Parameters in the Individual Element/species section will only
        affect the corresponding element/species and will override the parameters in the first section.
        <br>
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>a). Environmental Conditions</b>
        <br>
        <p><div class="video"><img src="{% static 'img/hgspeci-environ-para.png' %}" border=1 width="90%" max-height="500px"></div></p>

        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;<b>b). Individual Element/species</b> parameters (will provide related parameters in the database, and the option to add parameters by the users.)
        <br>
        <p><div class="video"><img src="{% static 'img/hgspeci-individual-para.png' %}" border=1 width="90%" max-height="500px"></div></p>
        <p><div class="video"><img src="{% static 'img/hgspeci-auto-para.png' %}" border=1 width="90%" max-height="500px"></div></p>

    <!--
    <br><b>Tips:</b>
        While inputting the elements, it will searching the database automatically. If the related parameters are available,
        it will display them in the bellow. Otherwise, the user can provide their own parameters. <p>
    <p><div class="video-box">
        <iframe width="100%" height="500" src="https://www.youtube.com/embed/ajQs4g7g388?&autoplay=1&loop=1&playlist=ajQs4g7g388" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </p>
    -->
    <br>
    <p><h3>Step 2. Review & submit</h3>
        Before submission, you can review your input parameters. You can either go back to revise your input or proceed to
        submit the job to the server. The job ID will be shown on top of your input as well. With this job ID, you can close
        your webpage and come back to check the result later by clicking the <a href="/hgspeci/results/"><b>"Results"</b></a>
        from the left menu.
    <p>

    <p><h3>Step 3. View and download the results</h3>
        Once the job is finished, you can either view and analysis your results online or download and plot them yourself.<p>
    <p><div class="video">
        <!--<video id="video" controls autoplay src="{% static 'video/hgspeci-result.webm' %}"></video>-->
        <iframe width="90%" height="500" src="https://www.youtube.com/embed/94bqn48IkiU?&autoplay=1&loop=1&playlist=94bqn48IkiU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </p>

    <br>
    <br>


</div></div>
{% endblock %}