{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
{% include 'hgspeci/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">Input Parameters</div>
<div id=main>
    <div class="col-md-4">
        <h3>SOLUTION 1</h3>
        <form action="" method="post">{% csrf_token %}
            {{ paraform.as_p }}

            <!-- formset for element input -->
            <div id="formset">
                {{ formset.management_form }}
                <table id="id_formset_table">
                    {% for form in formset.forms %}
                        {% if forloop.first %}
                            <thead>
                            <tr>
                                {% for field in form.visible_fields %}
                                    <th align="left">{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        {% endif %}

                        <tbody>
                        <tr id="{{ form.prefix }}-row" class="{% cycle 'row1' 'row2' %} formset_row">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>

            <br>
            <button type="submit" class="btn btn-default" style="height:25px;width:90px">Next</button>
            <br>

            <div id="parameters" style="display:none" class="rcorners1">
                <h3>Parameters in AQUA-MER:</h3>
                <div id="id_solutionmaster" class="rcorners2">
                <h3>SOLUTION_MASTER_SPECIES</h3>
                    <table  id="id_solutionmastertable">
                        <thead>
                            <tr>
                                <th>Element</th>
                                <th>Species</th>
                                <th>Alkalinity</th>
                                <th>GFWorFormula</th>
                                <th>GFWforElement</th>
                                <th>Note</th>
                                <th>Ref</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="id_solutionmastertbody">
                        </tbody>
                    </table>

                <!-- adding parameters for SOLUTION MASTER SPECIES -->
                <div id="id_masterformset">
                    <br>
                    <button type="button" onclick="toggleIfrm('ifrmdiv-master')" class="btn btn-default" style="height:25px;width:200px">Add new master specie</button>
                    <div id="ifrmdiv-master" style="display:none">
                        <div>
                            <p><b>Tips for customizing elements & species (<a href="https://wwwbrr.cr.usgs.gov/projects/GWC_coupled/phreeqc/html/final-57.html#19910", target="_blank">Details</a>):</b><br>
                            <b>Element</b> -- An element name or an element name followed by a valence state in parentheses. The element name must begin with a capital letter, followed by zero or more lower case letters or underscores ("_").<br>
                            <b>Species</b> -- Formula for the master species, including its charge. If the element name does not contain a valence state in parentheses, the corresponding master species is a primary master species. If the element name does contain a valence state in parentheses, the master species is a secondary master species. The master species must be defined in the SOLUTION_SPECIES data block.</p>
                        </div>
                        <iframe id="ifrm-master" width="1000px" seamless onload="resizeIframe(this)" src="/hgspeci/input_masterspecies/{{ JobID }}"></iframe>
                    </div>
                </div>
            </div>

            <br>
            <div id="id_solutionspecies" class="rcorners3">
                <h3>SOLUTION_SPECIES</h3>
                    <table  id="id_solutionspeciestable">
                        <thead>
                            <tr>
                                <th>Element</th>
                                <th>Species</th>
                                <th>Reaction</th>
                                <th>log <i>K</i></th>
                                <th>&#916;H</th>
                                <th>Gamma</th>
                                <th>Source</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="id_solutionspeciestbody">
                        </tbody>
                    </table>

                <!-- adding parameters for SOLUTION SPECIES -->
                <div id="id_speciesformset">
                    <br>
                    <button type="button" onclick="toggleIfrm('ifrmdiv-species')" class="btn btn-default" style="height:25px;width:200px">Add new solution specie</button>
                    <div id="ifrmdiv-species" style="display:none">
                        <iframe id="ifrm-species" width="1000px" seamless onload="resizeIframe(this)" src="/hgspeci/input_solutionspecies/{{ JobID }}"></iframe>
                    </div>
                </div>
            </div>
        </div>



        </form>
    </div>


</div></div>


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    var availableTags = [
      "ActionScript",
      "Scala",
      "Scheme"
    ];
    $( ".dyn-input" ).autocomplete({
      source: "/hgspeci/element-autocomplete/"
    });
  } );
 </script>

<script>
    //$("#id_spelements-0-Element").change(function (){
    $(".dyn-input").change(function (){

        var ele = $(this).val();
        console.log('ajax is working! The element is ' + ele);

        document.getElementById('parameters').style.display='block';

        $.ajax({
        url: "/hgspeci/ajax/query_solutionmaster/" + ele +"/",
        data: {action: 'query_solutionspecies', ele: ele},
        dataType: 'html',
        success: function(data){
            document.getElementById('id_solutionmastertbody').innerHTML += data;
            }
        });

        $.ajax({
        url: "/hgspeci/ajax/query_solutionspecies/" + ele +"/",
        data: {action: 'query_solutionspecies', ele: ele},
        dataType: 'html',
        success: function(data){
            document.getElementById('id_solutionspeciestbody').innerHTML += data;
            }
        });

    });
</script>

{% load static %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
        $('#id_formset_table tbody tr').formset({
            addText: 'add element',
            deleteText: 'remove',
            prefix: 'spelements'
        });
    })
</script>
<script type="text/javascript">
function toggleIfrm(fmID) {
    var x = document.getElementById(fmID);
    if (x.style.display == "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
<script type="text/javascript">
  function resizeIframe(iframe) {
    iframe.height = getDocHeight() + 30 + "px";
  }

  function getDocHeight() {
    var D = iframe.contentWindow.document;
    return Math.max(
        Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
        Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
        Math.max(D.body.clientHeight, D.documentElement.clientHeight)
    );
}
</script>

<style type="text/css">
    iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}
</style>

{% endblock %}