{% extends 'base_index.html' %}
{% load static %}
{% load phreeqcfilters %}

{% block content %}
<!-- nav box on the left -->
{% include 'hgspeci/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 2. Review & Submit</div>
<div id=main>
    Job ID : <b>{{ JobID }}</b>
    <br>
    <br>
    <div id="phreeqcinput">
        <p>Title {{ Item.SPTitle }}</p>
        <p>Database: {{ Item.SPDBtoUse }}</p>
        <p>Titrant: {{ Item.SPTitrant }} {{ Item.SPTitrantConcentration }} {{ Item.SPUnit }}</p>
        <br>
        <p>SOLUTION 1</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;temp {{ Item.SPTemperature }}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;pH {{ Item.SPpHMin }} {{ Item.SPpHMax}} {{ Item.SPpHIncrease}}</p>
        {% if Item.SPRedoxMethod == 'pe' %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;pe {{ Item.SPRedoxValue }}</p>
        {% else %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;redox {{ Item.SPRedoxValue }}</p>
        {% endif %}
        <p>&nbsp;&nbsp;&nbsp;&nbsp;units {{ Item.SPUnit }}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;density {{ Item.SPDensity }}</p>

        {% for ele in Item.spelements.all %}
            <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ ele.Element }} {{ ele.Concentration }} {{ ele.Unit }} {{ ele.AS | elements:"as" }} {{ ele.ASFormula }} {{ ele.GFW | elements:"gfw" }} {{ ele.GFWFormula }} {{ ele.Redox }} {{ ele.Others }}</p>
        {% endfor %}
        {% if Item.spmaster.all %}
            <p>SOLUTION_MASTER_SPECIES</p>
            {% for ms in Item.spmaster.all %}
                <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ ms.Element }} {{ ms.Species }} {{ ms.Alkalinity }} {{ ms.GFWorFormula }} {{ ms.GFWforElement }}</p>
            {% endfor %}
        {% endif %}
        {% if Item.spspecies.all %}
            <p>SOLUTION_SPECIES</p>
            {% for ms in Item.spspecies.all %}
                <p>&nbsp;&nbsp;&nbsp;&nbsp;{{ ms.Reaction }}</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;log_k {{ ms.LogK }}</p>
                {% if ms.DeltaH > 0 %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delta_h {{ ms.DeltaH }} {{ ms.DeltaHUnits }}</p>
                {% endif %}
                {% if ms.AEA1|folatadd:ms.AEA2|folatadd:ms.AEA3|folatadd:ms.AEA4|folatadd:ms.AEA5 > 0 %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-a_e {{ ms.AEA1 }} {{ ms.AEA2 }} {{ ms.AEA3 }} {{ ms.AEA4 }} {{ ms.AEA5 }}</p>
                {% endif %}
                {% if ms.GammaA|folatadd:ms.GammaB  > 0 %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-gamma {{ ms.GammaA }} {{ ms.GammaB }}</p>
                {% endif %}
                {% if ms.NoCheck %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-no_check</p>
                {% endif %}
                {% if ms.MoleBalance %}
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-mole_balance {{ ms.MoleBalance }}</p>
                {% endif %}

            {% endfor %}
        {% endif %}

    </div>
    <br>
    <button type="submit" class="btn btn-default" style="height:25px;width:90px"
            onclick="location.href='/hgspeci/results/{{ Item.JobID }}'">Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-default" style="height:25px;width:90px"
            onclick="location.href='/hgspeci/parameters/{{ Item.JobID }}'">Revise</button>
    <br>
    <br>

</div>

    <br>
    <br>


</div></div>
{% endblock %}