{% extends 'base_index.html' %}
{% load static %}


{% block content %}
<!-- nav box on the left -->
{% include 'hgspeci/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 2. Review & Submit</div>
<div id=main>This step provides a review on the algorithm and parameters input before submit to run the job.

    <br>
    <br>
    <b>Please start from <a href="/hgspeci/parameters">"Step 1. Input parameters"</a></b>
    <br>

</div>

    <br>
    <br>


</div></div>
{% endblock %}