{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
{% include 'pka/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">Instructions</div>
<div id=main>
    <div>
        <p>
            The p<i>K</i><sub>a</sub> calculation uses the following equation,
            <p><b>HA ----> A<sup>-</sup> + H<sup>+</sup>&nbsp;&nbsp;&nbsp;&nbsp;<i>K</i><sub>a</sub> = [A<sup>-</sup>][H<sup>+</sup>]/[HA]&nbsp;&nbsp;&nbsp;&nbsp;p<i>K</i><sub>a</sub> = -log <i>K</i><sub>a</sub></b></p>
            therefore, it requires the user to provide both the <b>deprotonated (A<sup>-</sup>)</b> and
            the <b>protonated (HA)</b> forms of the compound.
        </p>
    </div>

    <form id='pdb' name='pdb' enctype="multipart/form-data" method='POST'>
        {% csrf_token %}

        <h3>Please specify which form does the current molecule belongs to?</h3>
        {{ form }}
        <br>
        <div style="padding-left:300px">
            <button type="submit" class="btn btn-default" style="height:25px;width:120px">Next</button>
        </div>

    </form>
</div></div>
{% endblock %}