{% extends 'phreeqcdb/base_tables.html' %}


{% block content %}
<!-- nav box on the left -->
{% include 'phreeqcdb/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">EXCHANGE_SPECIES</div>
<div id=main>
<div><p>This keyword data block is used to define a half-reaction and relative log K for each exchange species.
    Normally, this data block is included in the database file and only additions and modifications are included
    in the input file.</p></div>

<h3>Annotation <a href="https://wwwbrr.cr.usgs.gov/projects/GWC_coupled/phreeqc/html/final-41.html#60716"> (Details) </a></h3>
<table id="annotation" class="clean compact">
    <thead>
        <tr>
            <th align="left">Keyword</th>
            <th align="left">Explanation</th>
        </tr>
    </thead>
        <tbody>
            <tr><td>Reaction</td><td>Association reaction for aqueous species.</td></tr>
            <tr><td>log <i>K</i></td><td>log <i>K</i> at 25 C for the reaction. Log K must be 0.0 for primary master species.</td></tr>
            <tr><td>&#916;H</td><td>Enthalpy of reaction at 25 C for the reaction.</td></tr>
            <tr><td>Units</td><td>Units for &#916;H.</td></tr>
            <tr><td>Gamma (a) </td><td><i>Debye-Huckel a</i>, parameter a in the WATEQ activity-coefficient equation (Truesdell and Jones, 1974).</td></tr>
            <tr><td>Gamma (b) </td><td><i>Debye-Huckel b</i>, parameter a in the WATEQ activity-coefficient equation (Truesdell and Jones, 1974).</td></tr>
            <tr><td>Davies</td><td>IIndicates the Davies equation will be used to calculate an activity coefficient. If -gamma or -davies is not input for an exchange species, the activity of the species is equal to its equivalent fraction. </td></tr>
        </tbody>
</table>

    <br>
<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#species').DataTable({
        "lengthMenu": [[15, 50, -1], [15, 50, "All"]],
        "pageLength": 15,
    });
    } );
</script>

<h3>Exchange Species</h3>
<table id="species" class="display pure-table sortable">
    <thead>
        <tr>
            <th align="left">Reaction</th>
            <th align="left">log <i>K</i></th>
            <th align="left">&#916;H</th>
            <th align="left">Units</th>
            <th align="left">Gamma (a)</th>
            <th align="left">Gamma (b)</th>
            <th align="left">Davies</th>
            <th align="left">Database</th>
            <th align="left">Reference</th>
            <th align="left">Note</th>
        </tr>
    </thead>
    <tbody>
    {% for p in all_species %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td>{{ p.Reaction }}</td>
            <td>{{ p.LogK }}</td>
            <td>{{ p.DeltaH }}</td>
            <td>{{ p.DeltaHUnits }}</td>
            <td>{{ p.GammaA }}</td>
            <td>{{ p.GammaB }}</td>
            <td>{{ p.Davies }}</td>
            <td>{{ p.DBSource }}</td>
            <td>{{ p.Ref }}</td>
            <td>{{ p.Note }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    <p>

    <br>

<h3>References</h3>
<table id="ref" class="clean compact">
    <thead>
        <tr>
            <th align="left">RefID</th>
            <th align="left">Reference</th>
        </tr>
    </thead>
        <tbody>
        {% for p in refs %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="pure-table-odd">
            {% endif %}
            <td>{{ p.RefID }}</td>
            <td>{{ p.Reference }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <br>
<h3>Databases</h3>
<table id="dbs" class="clean compact">
    <thead>
        <tr>
            <th align="left">DatabaseID</th>
            <th align="left">Notes</th>
        </tr>
    </thead>
        <tbody>
        {% for p in dbs %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="pure-table-odd">
            {% endif %}
            <td>{{ p.DBID }}</td>
            <td>{{ p.DBNote }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('.clean').DataTable({
        paging: false,
        searching: false,
        ordering: false,
        info: false,
    });
    } );
</script>

</div></div>
{% endblock %}