<div id="col1" style="padding-bottom: 20">
<div id="menu">
  <h3>PhreeqcDB</h3>
  <ul>
    <li><a href="/phreeqcdb/">PhreeqcDB Homepage</a></li>
    <li><a href="/phreeqcdb/master">Solution Master Species</a></li>
    <li><a href="/phreeqcdb/species">Solution Species</a></li>
    <li><a href="/phreeqcdb/phases">Phases</a></li>
    <li><a href="/phreeqcdb/surfacemaster">Surface Master Species</a></li>
    <li><a href="/phreeqcdb/surfacespecies">Surface Species</a></li>
    <li><a href="/phreeqcdb/exchangemaster">Exchange Master Species</a></li>
    <li><a href="/phreeqcdb/exchangespecies">Exchange Species</a></li>
    <li><a href="/phreeqcdb/rates">Rates</a></li>
  </ul>
</div>
</div>