<div id="col1" style="padding-bottom: 20">
<div id="menu">
  <h3>Toolkit</h3>
  <ul>
    <li><a href="/toolkit/smiles">1. Input a compound</a></li>
    <li><a href="/toolkit/parameters">2. Calculation parameters</a></li>
    <li><a href="/toolkit/review">3. Review & submit</a></li>
    <li><a href="/toolkit/results">4. Results & download</a></li>
    <li><h3>Independent Tools</h3></li>
    <li><a href="/csearch/">Conformational search</a></li>
    <li><a href="/gsolv/">&Delta;G<sub>solv</sub> calculation</a></li>
    <li><a href="/pka/">p<i>K</i><sub>a</sub> calculation</a></li>
    <li><a href="/logk/">log <i>K</i> calculation</a></li>
  </ul>
</div>
</div>