{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
<div id="col1" style="padding-bottom: 20">
  <div id="menu">
    <h3><i>AQUA-MER</i></h3>
    <ul>
      <li><a href="/hgspeci">Speciation</a></li>
      <li><a href="/expdata">Experimental Constants</a></li>
      <li><a href="/calcdata">Calculated Constants</a></li>
      <li><a href="/phreeqcdb">Phreeqc Database</a></li>
      <li><a href="/toolkit">Toolkit for Calculation</a></li>
      <li><a href="/faq">FAQ</a></li>

    </ul>
  </div>
</div>

<!-- content on the right -->
<div id="content">
<div id="title">Frequently Asked Questions</div>
<div id=main>
    <p><b>1. What is <i>AQUA-MER</i> aqueous speciation database? </b></p>
    <p><i>AQUA-MER</i> is the first online resource that realizes multi-scale modeling of Hg biogeochemistry in the environmental water systems.
      It has four modules, a speciation calculator for mesoscale modeling, a computational chemistry toolkit for atomic-scale and quantum-scale modeling,
      a calculated stability constants database and an experimental measured stability constants database,
      which includes <b>solvation free energies (&Delta;G<sub>solv</sub>)</b> and <b> proton disassociation constants (p<i>K</i><sub>a</sub>)</b> of low molecular weight organic/inorganic
      compounds in aqueous solution, and <b>stability constants (log <i>K</i>)</b> of these compounds interacting with Hg.
    </p>

    <p><b>2. What can I do with <i>AQUA-MER</i>? </b></p>
    <p>With <i>AQUA-MER</i> you can perform multi-scale modeling of metal biogeochemistry studies,
        such as speciation calculation, conformational search for small molecules, &Delta;G<sub>solv</sub> calculation, p<i>K</i><sub>a</sub> calculation,
        and log <i>K</i> calculation, etc.
    </p>

    <p><b>3. Can I perform the calculations online? </b></p>
    <p>Yes and no. For speciation calculations and conformational search calculations you can use our server to perform the calculations online.
        But for &Delta;G<sub>solv</sub> calculation, p<i>K</i><sub>a</sub> calculation, and log <i>K</i> calculation,
        which require quantum mechanics (QM) calculations, such as density functional theory (DFT), we only generate input files for you.
        You have to perform these calculations with your own computers.
    </p>

    <p><b>4. Can I use my own data for speciation calculations? </b></p>
    <p>Sure. During construction of the virtual solution, if no parameters can be found in <i>AQUA-MER</i>,
        you will be promoted the options to add your own data or to calculate the required constants with our computational chemistry toolkit.
        Please look at <a href="/hgspeci/" target="_blank"><b>HERE</b></a> for more details.
    </p>

    <p><b>5. Which algorithms are available for conformational search? </b></p>
    <p>Currently, three different methods are available on <i>AQUA-MER</i>. They are Random sampling with MM optimization,
        Random sampling with QM optimization, and MD simulation with replica exchange sampling.
        Please look at <a href="/csearch/" target="_blank"><b>HERE</b></a> for more details.
    </p>

    <p><b>6. Which QM software should I use to perform &Delta;G<sub>solv</sub>, p<i>K</i><sub>a</sub>, and log <i>K</i> calculations? </b></p>
    <p>We recommend to use Guassian 09. That's because the parameters and validation calculations were performed with Guassian 09.
        Since it is a commercial software, if you don't have license, you can also use NWChem instead. <i>AQUA-MER</i> can generate
        input files for both of them.
    </p>

    <p><b>7. Which solvation model should I use to perform &Delta;G<sub>solv</sub>, p<i>K</i><sub>a</sub>, and log <i>K</i> calculations? </b></p>
    <p>We recommend to use SMD<sub>sSAS</sub> (SMD with a scaled solvent-accessible surface) model, which is an optimized SMD solvation model.
        <i>AQUA-MER</i> uses this technique as default for &Delta;G<sub>solv</sub>, p<i>K</i><sub>a</sub>, and log <i>K</i> calculations.
        For more details of this model, please refer to Dr. Peng Lian and Dr. Deepa Devarajan's papers at the citation part of this FAQ.
    </p>

    <p><b>8. Can I contribute data to <i>AQUA-MER</i>? </b></p>
    <p>Sure. You are welcome to do that! Please contact <b>Dr. Peng Lian</b> <a href="mailto:lianp@ornl.gov">lianp@ornl.gov</a> for data contribution and bug report.
    </p>

    <p><b>9. Who is behind <i>AQUA-MER</i>? </b></p>
    <p><i>AQUA-MER</i> is run and devised by the  <a href="http://cmb.ornl.gov">Center for Molecular Biophysics (CMB)</a> of the University of
        Tennessee/Oak Ridge National Laboratory (UT/ORNL). It is supported by an award from the Subsurface Biogeochemical Research (SBR)
        Program of the Biological and Environmental Research arm of the Office of Science of the U.S. Department of Energy (DOE).
    </p>

    <p><b>10. How can I cite <i>AQUA-MER</i>? </b></p>
    <p>The main paper which includes more details of this website is still in preparation. Please check for it later. <br><br>

        The technical papers on accurate calculation of &Delta;G<sub>solv</sub>, p<i>K</i><sub>a</sub>, and log <i>K</i>, are listed bellow,<br>
        1.	Peng Lian, Ryne C. Johnston, Jerry M. Parks, Jeremy C. Smith. <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpca.8b01751" target="_blank">Quantum Chemical Calculation of p<i>K</i><sub>a</sub>s of Environmentally Relevant Functional Groups: Carboxylic Acids, Amines and Thiols in Aqueous Solution.</a> (2018) <i>The Journal of Physical Chemistry A</i>. 122 (17), pp 4366–4374. DOI: 10.1021/acs.jpca.8b01751 <br>
        2.	Deepa Devarajan, Peng Lian, Scoot C. Brooks, Jerry M. Parks, Jeremy C. Smith. <a href="https://pubs.acs.org/doi/full/10.1021/acsearthspacechem.8b00102" target="_blank">Quantum Chemical Approach for Calculating Stability Constants of Mercury Complexes.</a> (2018) <i>ACS Earth and Space Chemistry</i>. DOI: 10.1021/acsearthspacechem.8b00102 <br>
    </p>



</div></div>
{% endblock %}