{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
<div id="col1" style="padding-bottom: 20">
  <div id="menu">
    <h3><i>AQUA-MER</i></h3>
    <ul>
      <li><a href="/hgspeci">Speciation</a></li>
      <li><a href="/expdata">Experimental Constants</a></li>
      <li><a href="/calcdata">Calculated Constants</a></li>
      <li><a href="/phreeqcdb">Phreeqc Database</a></li>
      <li><a href="/toolkit">Toolkit for Calculation</a></li>
      <li><a href="/faq">FAQ</a></li>

    </ul>
  </div>
</div>

<!-- content on the right -->
<div id="content">
<div id="title">Frequently Asked Questions</div>
<div id=main>
    <p><b>1. What is <i>AQUA-MER</i> aqueous speciation database? </b></p>
    <p><i>AQUA-MER</i> is the first online database focussing on Hg speciation in the environmental water systems.
      It collects experimental data, including <b>solvation free energies</b> and <b>p<i>K</i><sub>a</sub>s</b>, of low molecular weight organic/inorganic
      compounds in aqueous solution, and <b>stability constants (log <i>K</i>)</b> of these compounds interacting with Hg.
    </p>

    <p><b>2. What can I do with <i>AQUA-MER</i>? </b></p>
    <p><i>AQUA-MER</i> provides
       online tools to calculate solvation free energies, p<i>K</i><sub>a</sub>s, and stability constants with
      <i>ab initio</i> quantum chemical methods, such as density functional theory (DFT). When the experimental data are not available,
      calculated constants can be applied to perform the Hg speciation (under construction).
    </p>

    <p><b>3. Who is behind <i>AQUA-MER</i>? </b></p>
    <p><i>AQUA-MER</i> is run and devised by the  <a href="http://cmb.ornl.gov">Center for Molecular Biophysics (CMB)</a> of the University of
        Tennessee/Oak Ridge National Laboratory (UT/ORNL). It is supported by an award from the Subsurface Biogeochemical Research (SBR)
        Program of the Biological and Environmental Research arm of the Office of Science of the U.S. Department of Energy (DOE).
    </p>

    <p><b>4. How can I use <i>AQUA-MER</i>? </b></p>
    <p>We have been trying hard to make AQUA-MER as easy as possible to use.
        If you have suggestions, please feel free to contact us.
    </p>


</div></div>
{% endblock %}