{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
<div id="col1" style="padding-bottom: 20">
  <div id="menu">
    <h3><i>AQUA-MER</i></h3>
    <ul>
      <li><a href="/hgspeci">Hg Aqueous Speciation</a></li>
      <li><a href="/expdata">Experimental log <i>K</i> Values</a></li>
      <li><a href="/expdata">Computated log <i>K</i> Values</a></li>
      <li><a href="/toolkit">Toolkit for log <i>K</i> Calculation</a></li>
      <li><a href="/faq">FAQ</a></li>

    </ul>
  </div>
</div>

<!-- content on the right -->
<div id="content">
<div id="title">Welcome</div>
<div id=main>
    <i>AQUA-MER</i> is a database and toolkit for researchers working on environmental mercury geochemistry.

    <p><i>AQUA-MER</i><br>
        &nbsp;&nbsp;&nbsp;&nbsp;a)	Calculates speciation profiles given input concentrations of chemicals. <br>
        &nbsp;&nbsp;&nbsp;&nbsp;b)	Contains a database of thermodynamic associations of mercury in aqueous solutions. <br>
    </p>

    <p>Researchers come to <i>AQUA-MER</i> if they want to know, given a certain input of concentrations of chemicals
        in the environment, how mercury will speciate (what it will bind to). In order to calculate speciation it is
        necessary to know the <b>association constants (log <i>K</i>)</b> of mercury with the chemicals present.
        <i>AQUA-MER</i> is compiling a list of association constants from experimental sources. It has also values
        calculated in the <a href="http://cmb.ornl.gov">UTK/ORNL Center for Molecular Biophysics (CMB)</a> using a
        validated quantum chemical methodology. In cases where the log <i>K</i> values are neither known experimentally
        nor have been calculated, <i>AQUA-MER</i> provides a <b>toolkit</b> that researchers can use to calculate the values themselves.
    </p>

    {% load static %}
    <p align="center"><img src="{% static 'img/Hg.jpg' %}" border=0 width=600></p>

</div></div>
{% endblock %}