{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
<div id="col1" style="padding-bottom: 20">
  <div id="menu">
    <h3><i>AQUA-MER</i></h3>
    <ul>
      <li><a href="/csearch/">Conformational Search</a></li>
      <li><a href="/gsolv">Solvation Free Energy</a></li>
      <li><a href="/">p<i>K</i><sub>a</sub> Calculation</a></li>
      <li><a href="/logk">log K Calculation</a></li>
    </ul>
  </div>
</div>

<!-- content on the right -->
<div id="content">
<div id="title">Toolkit for log <i>K</i> calculation</div>
<div id=main>
  <p>under construction</p>
  <p>This toolkit will include Conformational search, Solvation free energy calculation,
    p<i>K</i><sub>a</sub> and log <i>K</i> calculation for small molecules.</p>



</div></div>
{% endblock %}