<div id="col1" style="padding-bottom: 20">
<div id="menu">
  <h3>log <i>K</i> Calculation</h3>
  <ul>
    <li><a href="/logk/start/">1. Upload compounds</a></li>
    <li><a href="/logk/parameters">2. Parameters</a></li>
    <li><a href="/logk/review">3. Review & submit</a></li>
    <li><a href="/logk/results">4. Results & download</a></li>
    <li><h3>Independent Tools</h3></li>
    <li><a href="/csearch/">Conformational search</a></li>
    <li><a href="/gsolv/">&Delta;G<sub>solv</sub> calculation</a></li>
    <li><a href="/pka/">p<i>K</i><sub>a</sub> calculation</a></li>
    <li><a href="/logk/">log <i>K</i> calculation</a></li>
    <li><a href="/toolkit/">Toolkit Home</a></li>
  </ul>
</div>
</div>