{% extends 'base_index.html' %}
{% load static %}
{% load filename %}


{% block content %}
<!-- 3Dmol.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.3.0/3Dmol-min.js"></script>

<!-- nav box on the left -->
{% include 'logk/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 3. Review & Submit</div>
<div id=main>

    <p>Your JobID is <b>{{ JobID }}</b></p>
    Please review the input parameters for your calculations:
    <br>
    <br>
<table id="basic" class="hover compact pure-table sortable">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Ligand (L-)</th>
            <th>Complex (ML)</th>
            <th>Metal ion (M+)</th>
        </tr>
    </thead>

    <tbody>
    <tr><td>Input Molecule</td>
        <td>
            <div style="height: 150px; width: 250px; position: relative;" class='viewer_3Dmoljs'
             data-href='/logk/inputcoor/{{ Item.JobID }}/A/'
             data-backgroundcolor='0xffffff' data-type="xyz"
             data-select1="all" data-style1='stick'></div>
        </td>
        <td>
            <div style="height: 150px; width: 250px; position: relative;" class='viewer_3Dmoljs'
             data-href='/logk/inputcoor/{{ Item.JobID }}/HA/'
             data-backgroundcolor='0xffffff' data-type="xyz"
             data-select1="all" data-style1='stick'></div>
        </td>
        <td>
            {{ Item.QMMetal }}
        </td>
    </tr>

    {% if Item.UploadedFile and Item.UploadedFileP1 %}
        <tr><td>File name</td><td>{{ Item.UploadedFile | filename }}</td><td>{{ Item.UploadedFileP1 | filename }}</td><td>-</td></tr>
        <tr><td>File type</td><td>{{ Item.UploadedFileType }}</td><td>{{ Item.UploadedFileTypeP1 }}</td><td>-</td></tr>
    {% elif Item.UploadedFile and Item.SmilesStrP1 %}
        <tr><td>File name</td><td>{{ Item.UploadedFile | filename }}</td><td>{{ Item.SmilesStrP1 }}</td><td>-</td></tr>
        <tr><td>File type</td><td>{{ Item.UploadedFileType }}</td><td>smi</td><td>-</td></tr>
    {% elif Item.SmilesStr and Item.UploadedFileP1 %}
        <tr><td>File name</td><td>{{ Item.SmilesStr }}</td><td>{{ Item.UploadedFileP1 | filename }}</td><td>-</td></tr>
        <tr><td>File type</td><td>smi</td><td>{{ Item.UploadedFileTypeP1 }}</td><td>-</td></tr>
    {% elif Item.SmilesStr and Item.SmilesStrP1 %}
        <tr><td>File name</td><td>{{ Item.SmilesStr }}</td><td>{{ Item.SmilesStrP1 }}</td><td>-</td></tr>
        <tr><td>File type</td><td>smi</td><td>smi</td><td>-</td></tr>
    {% endif %}
    <tr><td><br></td><td></td><td></td><td></td></tr>

    {% if Item.Name == 'logk' %}
        <tr><td>Software</td><td>{{ Item.QMSoftware }}</td><td>{{ Item.QMSoftwareP1 }}</td><td>{{ Item.QMSoftwareM }}</td></tr>
        <tr><td>Job Title</td><td>{{ Item.QMTitle }}</td><td>{{ Item.QMTitleP1 }}</td><td>{{ Item.QMTitleM }}</td></tr>
        <tr><td>Calculation Type</td><td>{{ Item.QMCalType }}</td><td>{{ Item.QMCalTypeP1 }}</td><td>{{ Item.QMCalTypeM }}</td></tr>
        <tr><td>Processors</td><td>{{ Item.QMProcessors }}</td><td>{{ Item.QMProcessorsP1 }}</td><td>{{ Item.QMProcessorsM }}</td></tr>
        <tr><td>Memory</td><td>{{ Item.QMMemory }} GB</td><td>{{ Item.QMMemoryP1 }} GB</td><td>{{ Item.QMMemoryM }} GB</td></tr>
        <tr><td>Functional</td><td>{{ Item.QMFunctional }}</td><td>{{ Item.QMFunctionalP1 }}</td><td>{{ Item.QMFunctionalM }}</td></tr>
        <tr><td>Basis Set</td><td>{{ Item.QMBasisSet }}</td><td>{{ Item.QMBasisSetP1 }}</td><td>{{ Item.QMBasisSetM }}</td></tr>
        <tr><td>Charge</td><td>{{ Item.QMCharge }}</td><td>{{ Item.QMChargeP1 }}</td><td>{{ Item.QMChargeM }}</td></tr>
        <tr><td>Multiplicity</td><td>{{ Item.QMMultiplicity }}</td><td>{{ Item.QMMultiplicityP1 }}</td><td>{{ Item.QMMultiplicityM }}</td></tr>
        <tr><td>Solvation Model</td><td>{{ Item.QMSolvationModel }}</td><td>{{ Item.QMSolvationModelP1 }}</td><td>{{ Item.QMSolvationModelM }}</td></tr>
        <tr><td>Solvent</td><td>{{ Item.QMSolvent }}</td><td>{{ Item.QMSolventP1 }}</td><td>{{ Item.QMSolventM }}</td></tr>
        {% if Item.QMCavitySurface != 'Default' and Item.QMCavitySurfaceP1 != 'Default' %}
            <tr><td>Cavity Surface</td><td>{{ Item.QMCavitySurface }}</td><td>{{ Item.QMCavitySurfaceP1 }}</td><td>{{ Item.QMCavitySurfaceM }}</td></tr>
            <tr><td>Cavity Scalling Factor</td><td>{{ Item.QMScalingFactor }}</td><td>{{ Item.QMScalingFactorP1 }}</td><td>{{ Item.QMScalingFactorM }}</td></tr>
        {% elif Item.QMCavitySurface != 'Default' and Item.QMCavitySurfaceP1 == 'Default' %}
            <tr><td>Cavity Surface</td><td>{{ Item.QMCavitySurface }}</td><td>Software Default</td><td>Software Default</td></tr>
            <tr><td>Cavity Scalling Factor</td><td>{{ Item.QMScalingFactor }}</td><td>Software Default</td><td>Software Default</td></tr>
        {% elif Item.QMCavitySurface == 'Default' and Item.QMCavitySurfaceP1 != 'Default' %}
        <tr><td>Cavity Surface</td><td>Software Default</td><td>{{ Item.QMCavitySurfaceP1 }}</td><td>{{ Item.QMCavitySurfaceM }}</td></tr>
        <tr><td>Cavity Scalling Factor</td><td>Software Default</td><td>{{ Item.QMScalingFactorP1 }}</td><td>{{ Item.QMScalingFactorM }}</td></tr>
        {% endif %}
    {% endif %}

    </tbody>
</table>
    <br>

    <button type="submit" class="btn btn-default" style="height:25px;width:90px"
            onclick="location.href='/logk/results/{{ Item.JobID }}'">Submit</button>

    <br>
    <br>



</div></div>
{% endblock %}