{% extends 'base_index.html' %}
{% load static %}


{% block content %}
<!-- nav box on the left -->
{% include 'gsolv/memu.html' %}




<!-- content on the right -->
<div id="content">
<div id="title">Calculate &Delta;G<sub>solv</sub> from the output file.</div>
<div id=main>
    <div>
        <p>
            The &Delta;G<sub>solv</sub> is the free energy change during moving a molecule from gas phase to the solvent.
        </p>
    </div>


    <form id='pdb' name='pdb' enctype="multipart/form-data" method='POST'>
    {% csrf_token %}

    <table>
    {{ form }}
    <tr></tr>
    <tr></tr>
    <tr></tr>
    <tr></tr>
    {{ formP1 }}
    </table>
    <br>
    <div style="padding-left:300px">
        <button type="submit" class="btn btn-default" style="height:25px;width:120px">Upload structures</button>
    </div>

    </form>

    <br>
    <br>



</div>
</div>

{% endblock %}