{% extends 'base_index.html' %}
{% load static %}
{% load filename %}


{% block content %}
<!-- 3Dmol.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.3.0/3Dmol-min.js"></script>

<!-- nav box on the left -->
{% include 'gsolv/memu.html' %}

<!-- content on the right -->
<div id="content">
<div id="title">Step 3. Review & Submit</div>
<div id=main>

<table id="basic" class="hover compact pure-table sortable">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
    </thead>

    <tbody>
    <tr><td>Input Molecule</td>
        <td>
            <div style="height: 150px; width: 250px; position: relative;" class='viewer_3Dmoljs'
             data-href='/gsolv/inputcoor/{{ Item.JobID }}'
             data-backgroundcolor='0xffffff' data-type="xyz"
             data-select1="all" data-style1='stick'></div>
        </td>
    </tr>
    <tr><td>JobID</td><td><b>{{ Item.JobID }}</b></td></tr>
    {% if Item.UploadedFile %}
        <tr><td>File name</td><td>{{ Item.UploadedFile | filename }}</td></tr>
        <tr><td>File type</td><td>{{ Item.UploadedFileType }}</td></tr>
    {% else %}
        <tr><td>File name</td><td>{{ Item.SmilesStr }}</td></tr>
        <tr><td>File type</td><td>smi</td></tr>
    {% endif %}
    <tr><td><br></td><td></td></tr>

    {% if Item.Name == 'gsolv' %}
        <tr><td>Software</td><td>{{ Item.QMSoftware }}</td></tr>
        <tr><td>Job Title</td><td>{{ Item.Title }}</td></tr>
        <tr><td>Calculation Type</td><td>{{ Item.QMCalType }}</td></tr>
        <tr><td>Processors</td><td>{{ Item.QMProcessors }}</td></tr>
        <tr><td>Memory</td><td>{{ Item.QMMemory }} GB</td></tr>
        <tr><td>Functional</td><td>{{ Item.QMFunctional }}</td></tr>
        <tr><td>Basis Set</td><td>{{ Item.QMBasisSet }}</td></tr>
        <tr><td>Charge</td><td>{{ Item.QMCharge }}</td></tr>
        <tr><td>Multiplicity</td><td>{{ Item.QMMultiplicity }}</td></tr>
        <tr><td></td><td>will show the input file here</td></tr>
    {% endif %}

    </tbody>
</table>
    <br>

    <button type="submit" class="btn btn-default" style="height:25px;width:90px"
            onclick="location.href='/gsolv/results/{{ Item.JobID }}'">Submit</button>

    <br>
    <br>



</div></div>
{% endblock %}