<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  {% include 'head.html' %}

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.js"
			integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
			crossorigin="anonymous">

    </script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

</head>

<body>
  <!-- header and topnav -->
  {% include 'body_header.html' %}

  <!-- body -->
  <div id="body">
        <!-- nav box on the left -->
        {% include 'expdata/memu.html' %}


        <!-- content on the right -->
        <div id="content">
        <div id="title">Experimental data for molecule <b>{{ MolID }}</b></div>
        <div id=main>


        {% block table1 %}
        {% endblock %}

        {% block table4 %}
        {% endblock %}

        {% block table2 %}
        {% endblock %}

        {% block table3 %}
        {% endblock %}

        {% block table5 %}
        {% endblock %}

        </div></div>
  </div>

  <!-- footer -->
  {% include 'body_footer.html' %}

</body>
</html>



