{% extends 'expdata/base_tables.html' %}

{% block table1 %}
<!-- nav box on the left -->
{% include 'expdata/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">Basic information of molecules</div>
<div id=main>

<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#basic').DataTable();
    } );
</script>

<h3>Annotation</h3>
<table id="annotation" class="clean compact">
    <thead>
        <tr>
            <th align="left">Keyword</th>
            <th align="left">Explanation</th>
        </tr>
    </thead>
        <tbody>
            <tr><td>Mol ID</td><td>Molecular ID in this database. A click on this ID will lead to the summary page of this molecule.</td></tr>
            <tr><td>PubChem ID</td><td>The PubChem CID of this molecule. A click on this ID will lead to the PubChem page of this molecule.</td></tr>
            <tr><td>PhrName</td><td>Phreeqc element style name of the molecule in our Calculated Constants database. The user has to use this name while inputting Element/Species in the Speciation module.</td></tr>
            <tr><td>CAS</td><td>The CAS number of this molecule. (A proprietary registry number assigned by the Chemical Abstracts Service (CAS) division of the American Chemical Society (ACS).)</td></tr>
            <tr><td>InChIKey</td><td>The InChI Key of this molecule. (A hashed version of the full International Chemical Identifier (InChI).)</td></tr>
            <tr><td>SMILES</td><td>The canonical SMILE structure of this molecule.</td></tr>
        </tbody>
</table>
<br>

<h3>Basic Information</h3>
<table id="basic" class="display compact pure-table sortable">
    <thead>
        <tr>
            <th>MolID</th>
            <th>PubChemID</th>
            <th>Name</th>
            <th>PhrName</th>
            <th>Formula</th>
            <th>Mol Weight (g/mol)</th>
            <th>Charge</th>
            <th>CAS</th>
            <th>InChIKey</th>
            <th>SMILES</th>
            <th>IUPAC Name</th>

        </tr>
    </thead>
    <tbody>
    {% for p in cpds %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td><a href="/expdata/cpd/id/{{ p.pk }}">{{ p.pk }}</a></td>
            <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ p.PubChemID }}"  target="_blank">{{ p.PubChemID }}</a></td>
            <td>{{ p.Name }}</td>
            <td><a href="/calcdata/viewele/{{ p.PhrName }}/">{{ p.PhrName }}</a></td>
            <td>{{ p.Formula }}</td>
            <td>{{ p.MolecularWeight }}</td>
            <td>{{ p.Charge }}</td>
            <td>{{ p.CASRegNumber }}</td>
            <td>{{ p.InChIKey }}</td>
            <td>{{ p.SMILES }}</td>
            <td>{{ p.IUPACName }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('.clean').DataTable({
        paging: false,
        searching: false,
        ordering: false,
        info: false,
    });
    } );
</script>

<br>
<br>
</div></div>
{% endblock %}
