{% extends 'expdata/base_tables.html' %}


{% block table1 %}
<!-- nav box on the left -->
{% include 'expdata/memu.html' %}


<!-- content on the right -->
<div id="content">
<div id="title">Solvation free energy</div>
<div id=main>

<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#dgsolv').DataTable();
    } );
</script>

<h3>Solvation free energy</h3>
<table id="dgsolv" class="display pure-table sortable">
    <thead align="left">
        <tr>
            <th>MolID</th>
            <th>Name</th>
            <th>&#916;G<sub>solv</sub> (kcal/mol)</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
    {% for p in dgsolvs %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td><a href="/expdata/cpd/id/{{ p.MolID }}">{{ p.MolID }}</a></td>
            <td>{{ p.MolID.Name }}</td>
            <td>{{ p.dGsolv }}</td>
            <td>{{ p.dGsolvReference }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}


{% block table2 %}
<h3>References</h3>
<table id="ref" class="clean compact">
    <thead align="left">
        <tr>
            <th>RefID</th>
            <th>Reference</th>
        </tr>
    </thead>
        <tbody>
        {% for p in refs %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="pure-table-odd">
            {% endif %}
            <td>{{ p.RefID }}</td>
            <td>{{ p.Reference }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('.clean').DataTable({
        paging: false,
        searching: false,
        ordering: false,
        info: false,
    });
    } );
</script>

<br>
<br>
</div></div>
{% endblock %}