{% extends 'base_index.html' %}


{% block content %}
<!-- nav box on the left -->
{% include 'expdata/memu.html' %}

<!-- content on the right -->
<div id="content">
    <div id="title">Experimental Data -- Summary</div>
    <div id="main">

        <h3><a href="/expdata/basic/">Basic Information</a></h3>
        This table lists basic information on the compounds in the database.
        <br>
        Currently, there are {{ NumBasicInfo }} compounds in total.

        <h3><a href="/expdata/stability/">Stability Constants (log <i>K</i>)</a></h3>
        This table contains Stability Constants for organic and inorganic compounds.
        <br>
        Currently, there are {{Numstabilities}} Stability Constants records for {{ NumBasicInfo }} compounds in total.

        <h3><a href="/expdata/dgsolv/">Solvation Free Energy</a></h3>
        This table contains Solvation Free Energy data for organic and inorganic compounds.
        <br>
        Currently, there are {{Numdgsolv}} Solvation Free Energy data entries for {{ NumBasicInfo }} compounds in total.


        <h3><a href="/expdata/pka/">p<i>K</i><sub>a</sub>s</a></h3>
        This table contains p<i>K</i><sub>a</sub> record for organic and inorganic compounds.
        <br>
        Currently, there are {{Numpka}} p<i>K</i><sub>a</sub> records for {{ NumBasicInfo }} compounds in total.

    </div>
</div>
{% endblock %}



