{% extends 'expdata/base_onecpd.html' %}


{% block table1 %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#basic').DataTable({
        paging: false,
        searching: false,
        ordering: false
    });
    } );
</script>

<h2>Basic Information</h2>
<table id="basic" class="hover compact pure-table sortable">
    <thead>
        <tr>
            <th>MolID</th>
            <th>PubChemID</th>
            <th>Name</th>
            <th>Formula</th>
            <th>Mol Weight (g/mol)</th>
            <th>Charge</th>
            <th>CAS</th>
            <th>InChiKey</th>
            <th>SMILES</th>
            <th>IUPAC Name</th>
            <th>Source</th>
            <th>Note</th>

        </tr>
    </thead>
    <tbody>
    {% for p in cpds %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td><a href="/expdata/cpd/id/{{ p.pk }}">{{ p.pk }}</a></td>
            <td><a href="https://pubchem.ncbi.nlm.nih.gov/compound/{{ p.PubChemID }}"  target="_blank">{{ p.PubChemID }}</a></td>
            <td>{{ p.Name }}</td>
            <td>{{ p.Formula }}</td>
            <td>{{ p.MolecularWeight }}</td>
            <td>{{ p.Charge }}</td>
            <td>{{ p.CASRegNumber }}</td>
            <td>{{ p.InChIKey }}</td>
            <td>{{ p.SMILES }}</td>
            <td>{{ p.IUPACName }}</td>
            <td>{{ p.Source }}</td>
            <td>{{ p.Note }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}



{% block table2 %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#dgsolv').DataTable({
        paging: false,
        searching: false,
        ordering: false
    });
    } );
</script>
<h2>Solvation Free Energy</h2>
<table id="dgsolv" class="hover compact pure-table sortable">
    <thead>
        <tr>
            <th>MolID</th>
            <th>Name</th>
            <th>&#916;G<sub>solv</sub> (kcal/mol)</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
    {% for p in dgsolvs %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td><a href="/expdata/cpd/id/{{ p.MolID }}">{{ p.MolID }}</a></td>
            <td>{{ p.MolID.Name }}</td>
            <td>{{ p.dGsolv }}</td>
            <td>{{ p.dGsolvReference }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}


{% block table3 %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#pKa').DataTable({
        paging: false,
        searching: false
    });
    } );
</script>

<h2>p<i>K</i><sub>a</sub></h2>
<table id="pKa" class="hover compact pure-table sortable">
    <thead>
        <tr>
            <th>MolID</th>
            <th>Name</th>
            <th>Species</th>
            <th>p<i>K</i><sub>a</sub></th>
            <th>T (&deg;C)</th>
            <th>Ionic Strength (M)</th>
            <th>Electrolyte</th>
            <th>Ref. for p<i>K</i><sub>a</sub></th>
            <th>&#916;<sub>r</sub>H&deg; (kcal/mol)</th>
            <th>&#916;<sub>r</sub>S&deg; (kcal/mol)</th>
            <th>&#916;<sub>r</sub>G&deg; (kcal/mol)</th>
            <th>Ref. for Thermal</th>
        </tr>
    </thead>
    <tbody>
    {% for p in pkas %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td><a href="/expdata/cpd/id/{{ p.MolID }}">{{ p.MolID }}</a></td>
            <td>{{ p.MolID.Name }}</td>
            <td>{{ p.Species }}</td>
            <td>{{ p.pKa }}</td>
            <td>{{ p.TemperatureC }}</td>
            <td>{{ p.IonicStrength }}</td>
            <td>{{ p.Electrolyte }}</td>
            <td>{{ p.pKaReference }}</td>
            <td>{{ p.dHr }}</td>
            <td>{{ p.dSr }}</td>
            <td>{{ p.dGr }}</td>
            <td>{{ p.ThermalReference }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}


{% block table4 %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#stability').DataTable({
        paging: false,
        searching: false
    });
    } );
</script>

<h2>Stability Constants</h2>
<table id="stability" class="hover compact pure-table sortable">
    <thead>
        <tr>
            <th>MolID</th>
            <th>Name</th>
            <th>Metal</th>
            <th>Constant</th>
            <th>Species</th>
            <th>Reactants</th>
            <th>T (&deg;C)</th>
            <th>Ionic Strength (M)</th>
            <th>Electrolyte</th>
            <th>log<i>&#946;</i> (or log<i>K</i>)</th>
            <th>&#916;<sub>r</sub>H&deg; (kcal/mol)</th>
            <th>&#916;<sub>r</sub>S&deg; (kcal/mol)</th>
            <th>&#916;<sub>r</sub>G&deg; (kcal/mol)</th>
            <th>Ref. for Thermal</th>
        </tr>
    </thead>
    <tbody>
    {% for p in stabilities %}
        {% if forloop.counter|divisibleby:2 %}
        <tr>
        {% else %}
        <tr class="pure-table-odd">
        {% endif %}
            <td><a href="/expdata/cpd/id/{{ p.MolID }}">{{ p.MolID }}</a></td>
            <td>{{ p.MolID.Name }}</td>
            <td>{{ p.Metal }}</td>
            {% if p.Constant == 'B' %}
                <td>log&#946;</td>
            {% else %}
                <td>log{{ p.Constant }}</td>
            {% endif %}
            <td>{{ p.Species }}</td>
            <td>{{ p.Reactants }}</td>
            <td>{{ p.TemperatureC }}</td>
            <td>{{ p.IonicStrength }}</td>
            <td>{{ p.Electrolyte }}</td>
            <td>{{ p.LogBorK }}</td>
            <td>{{ p.dHr }}</td>
            <td>{{ p.dSr }}</td>
            <td>{{ p.dGr }}</td>
            <td>{{ p.ThermalReference }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}


{% block table5 %}
<script type="text/javascript" class="init">
    $(document).ready(function() {
    $('#ref').DataTable({
        paging: false,
        searching: false,
        ordering: false
    });
    } );
</script>

<h2>Reference</h2>
<table id="ref" class="compact hover pure-table">
    <thead>
        <tr>
            <th>RefID</th>
            <th>Reference</th>
        </tr>
    </thead>
        <tbody>
        {% for p in refs %}
            {% if forloop.counter|divisibleby:2 %}
            <tr>
            {% else %}
            <tr class="pure-table-odd">
            {% endif %}
            <td>{{ p.RefID }}</td>
            <td>{{ p.Reference }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}