<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database of CMB UT/ORNL</title>
    <!--
    <script src="http://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <link rel="stylesheet" href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css">
    -->

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script
            src="https://code.jquery.com/jquery-1.12.3.js"
			integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="
			crossorigin="anonymous">

    </script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>

</head>

<body>

<h1><center><a href="/">Welcome to <i>AQUA-MER</i> Aqueous Speciation Database</a></center></h1>

{% block table1 %}
{% endblock %}

{% block table2 %}
{% endblock %}

{% block table3 %}
{% endblock %}

{% block table4 %}
{% endblock %}

{% block table5 %}
{% endblock %}

</body>
</html>
